body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    background-color: #1f2937;
    height: 100px;
}

.logo-bb-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.list {
    display: flex;
    align-items: center;
}

a, .hero-second {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb
}

.logo-text, .hero-main {
    color: #f9faf8;
}

.logo-text {
    font-size: 24px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 8px;
}

.container-1 {
    display: flex;
    background-color: #1f2937;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.header img {
    height: 100px;
    width: auto;
}

.container-1 img {
    width: 40vw;
    height: auto;
    max-width: 850px;
}

.top {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

button {
    max-width: 100px;
    border-radius: 8px;
    background-color: #3882f6;
    font-size: 14px;
}

.container-2 {
    text-align: center;
}

.info-items {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info-image img {
    width: 100px;
    height: auto;
}

